* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: #eee;
}

.articles-tests {
    margin: 3rem;
    width: 50vw;
}

.articles-tests a {
    display: block;
    background-color: white;
    padding: 5rem;
    text-decoration: none;
    background-image: linear-gradient(to left, #4E65FF, #92EFFD);
    font-weight: 700;
    border-radius: 10rem;
    font-size: 5vw;
    color: rgb(26, 47, 235);
    text-align: center;
}

.title-page-top {
    text-align: center;
    margin: 10rem auto;
}

.top-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-page-main {
    margin: 3rem 0;
    font-size: 4rem;
    text-align: center;
}

.count {
    margin-bottom: 3rem;
    background-color: white;
    padding: 3rem 2vw;
    border-radius: 2rem;
    box-shadow: 2px 2px 9px 1px black;
}

.left-number, .right-number {
    display: inline;
    font-size: 7rem;
    padding: 0 1rem;
}

.signal-count {
    font-size: 6rem;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-answer {
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.submit-btn {
    padding: 1rem;
    width: 10rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px black;
    background-color: rgb(113, 113, 229);
    color: white;
    margin-top: 1rem;
    transition: all 150ms ease-in-out;
}

.skip-btn {
    margin-top: 2rem;
    background-color: #fb4a4a;
    color: white;
}

.submit-btn:hover {
    background-color: #525252a4;
    color: black;
}